header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 9.5rem; /* Fix the height explicitly to match the image */
  z-index: 2000;
  background: white;
  padding-right: 16rem;
}



.header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* ⬅️ центрирует контент по горизонтали */
  margin-left: 2rem; /* отступ слева */
  gap: 1.5rem;                /* расстояние между кнопками и изображением */
  flex-wrap: nowrap;          /* ⬅️ полезно на маленьких экранах */
  overflow: hidden;

}



img {
  justify-content: flex-start;
  height: 9.5rem;
  max-width: 80%;

}


 
.app-name-banner {
  background-color:rgb(229,16,22);
  color: #fff;
  padding: 0 1.5rem;
  height: 7.2rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  justify-content: center; /* ✅ Centers text horizontally */
  width: 92%;
  margin-top: 1.5rem;
  border-radius: 20px;
  min-width: 0; /* Allow shrinking */
  flex-shrink: 1;/* width: auto; or remove fixed width if set */
}

.app-name-banner-no-dashboard {
  background-color:rgb(229,16,22);
  color: #fff;
  padding: 0 1.5rem;
  height: 7.2rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  justify-content: center; /* ✅ Centers text horizontally */
  width: 92%;
  margin-top: 1.5rem;
  border-radius: 20px;
  min-width: 0; /* Allow shrinking */
  flex-shrink: 1;/* width: auto; or remove fixed width if set */
}

@media (max-height: 480px) {
   header {
    height: 3rem; 
  }
  .header-content {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;  
    padding-right: 1rem; 
    padding-left: 1rem; 
    margin-left: 0;
    height: 6rem; 
  }
  .app-name-banner-no-dashboard {
    position: absolute;
    top: 0;
    left: 2vw;
    width: 92vw;
    z-index: -1; /* keep it behind other content */
    border-radius: 10px;
    margin-left: 2rem; /* Уменьшаем отступ слева */
    font-size: 1rem; /* Уменьшаем размер шрифта */
    padding: 0.5rem 1rem; /* Уменьшаем отступы */
    height: auto; /* Позволяем высоте адаптироваться */

  }
}

@media (max-height: 480px) {
  .splash-image {
    display: none;
  }
}

@media (max-height: 480px) {
  .app-name-banner {
    border-radius: 10px;
    margin-left: 2rem; /* Уменьшаем отступ слева */
    margin-right: 0; 
    font-size: 1rem; /* Уменьшаем размер шрифта */
    padding: 0.5rem 1rem; /* Уменьшаем отступы */
    height: auto; /* Позволяем высоте адаптироваться */
  }
}

