
  <header>
    <div class="header-content">
      <img  class="splash-image"   [src]="'assets/splashes/Splash' + selectedSplash + '.jpg'" alt="Splash" />
      @if(isShowDashboard) {
        <div class="app-name-banner" [style.backgroundColor]="appNameBannerColor">
          {{ translatedAppName }}
        </div>
      }
      @else {
        <div class="app-name-banner-no-dashboard" [style.backgroundColor]="appNameBannerColor">
            {{ translatedAppName }}
        </div>
      }
    </div>
  </header>