button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.7rem 0.5rem;
    
    background-color:  rgb(229, 229, 229);
    color: #333333;
    border: none;
    font: 12px/1.5 "Poppins", sans-serif;
    cursor: pointer;
    width: 100%;
    min-width: 10rem;
    text-align: center;
    border-radius: 0px 20px 20px 0px;

  }
   
  button:hover {
  font-weight: bold;
 }


  button:active,
  .active {
    background-color: white;
    color: #150722;
    font-weight: bold;
  }
  
  button:disabled {
    background-color: #ccc;      /* grey background */
    color: #666;                 /* dimmed text */
    cursor: not-allowed;         /* shows a “no” cursor on hover */
    opacity: 0.6;                /* slightly transparent */
    border: 1px solid #999;      /* optional: visible border */
  }