.button-container {
  border-radius: 20px;
  overflow: hidden;
  display: flex;         /* or display: grid; */
  flex-wrap: wrap;       /* allows wrapping to new lines */
  box-sizing: border-box;
}

button {
  flex: 1 1 9rem;  /* 👈 allows shrinking and growing from base size */
  max-width: 10rem;
  min-width: 7rem;
  height: 7rem;
  padding: 0;
  border: none;
  background-color: rgb(229, 229, 229);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
  box-sizing: border-box;
}



/* Hover effect */
button:hover, 
button:active,
.active {
  background-color: rgb(211,211, 211);
  color: #150722;
}

.image-with-subtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 8rem;
}

.image-with-subtext img {
  height: 7.5rem;
  width: auto;
  object-fit: contain;
  border: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0;

 
}

/* subtext below image */
.subtext {
  margin-top: 0;
  font-size: 0.75rem;
  color: #333333;
  text-align: center;
  max-width: 6rem;
  font: 12px/1.5 "Poppins", sans-serif;
}
/* Right side name centered */
.name-wrapper {
  display: flex;
  flex: 1;
  justify-content: center; /* по горизонтали центрируем */
  padding-right: 2rem;
  /*padding-bottom: 0.5rem;  добавим небольшой отступ снизу */
}
/* Text beside the image */ 
.name {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 1.6rem;
  height: 1.6rem;
  font-size: 0.9rem;
  text-align: center;
  background-color: white;
  color: #333333;
  padding: 0;
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}