.button-container {
  border-radius: 20px;
  overflow: hidden;
  display: flex;         /* or display: grid; */
  flex-wrap: wrap;       /* allows wrapping to new lines */
}

button {
  position: relative; 
  display: flex;
  align-items: stretch; /* let children fill height */
  justify-content: space-between;
  padding: 0;
  background-color:  rgb(229, 229, 229);
  border: none;
  color: #c3b3d1;
  width: 9rem;
  height: 7rem;
  cursor: pointer;
  font: inherit;
  overflow: hidden;
}


/* Hover effect */
button:hover, 
button:active,
.active {
  background-color: rgb(211,211, 211);
  color: #150722;
}

/* Left side image */
.image-with-subtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 8rem;
  padding: 0.3rem;
}

.image-with-subtext img {
  height: 7rem;
  width: auto;
  object-fit: contain;
  border: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

/* subtext below image */
.subtext {
  font-size: 0.75rem;
  color: #333333;
  margin-top: 0.3rem;
  text-align: center;
  max-width: 6rem;
  font: 12px/1.5 "Poppins", sans-serif;
}
/* Right side name centered */
.name-wrapper {
  display: flex;
  flex: 1;
  justify-content: center; /* по горизонтали центрируем */
  padding-right: 2rem;
  /*padding-bottom: 0.5rem;  добавим небольшой отступ снизу */
}
/* Text beside the image */ 
.name {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 2.0rem;
  height: 2.0rem;
  font-size: 0.9rem;
  text-align: center;
  background-color: white;
  color: #333333;
  padding: 0;
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}