<div class="button-container">
    <button (click)="onSelectButton()" [style.height]="isSubtextNeeded ? '9rem' : '8rem'">
      <div class="image-with-subtext">
        <img [src]="imagePath" [alt]="user.name" />
        @if (isSubtextNeeded) {
          <div class="subtext">{{ (user.subtextKey) | translate }}</div>
        }
      </div>
      <div class="name-wrapper">
        <span class="name">{{ user.name }}</span>
      </div>
      @if(user.isLocked){
        <img class="lock-img" src="assets/lock-32.png" alt="locked" />
      }
    </button> 
</div>

<!--<app-pay-dialog
  [open]="isPayDialogOpen"
  [priceILS]="PRICE_ILS"
  [currency]="CURRENCY"
  description="NOMO access"
  (closed)="cancelPayment()">
</app-pay-dialog>-->
<app-pricing-dialog
  [open]="isPayDialogOpen"
  [config]="{
    currency: '₪',
    monthly: 39,
    quarterly: 29,
    yearly: 20
  }"
  (planSelected)="confirmPayment($event)"
  (closed)="isPayDialogOpen = false">
</app-pricing-dialog>
   
@if(isShowVideo){  
    <app-video [videoPath]="fullVideoPath" (cancel)="onCancelVideo()" [numOfVideos]="user.numVideos" />
}
    
  