.button-container {
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

button {
  position: relative; 
  display: flex;
  align-items: stretch; /* let children fill height */
  justify-content: space-between;
  padding: 0;
  background-color:  rgb(219, 219, 221);
  border: none;
  color: #c3b3d1;
  width: 9rem;
  height: 8rem;
  cursor: pointer;
  font: inherit;
  overflow: hidden;
}


/* Hover effect */
button:hover, 
button:active,
.active {
  background-color: #9965dd;
  color: #150722;
}

/* Left side image */
.image-with-subtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 8rem;
  padding: 0.3rem;
}

.image-with-subtext img {
  height: 7rem;
  width: auto;
  object-fit: contain;
  border: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

/* subtext below image */
.subtext {
  font-size: 0.75rem;
  color: #333333;
  margin-top: 0.3rem;
  text-align: center;
  max-width: 6rem;
}
/* Right side name centered */
.name-wrapper {
  display: flex;
  flex: 1;
  justify-content: center; /* по горизонтали центрируем */
  padding-right: 2rem;
  /*padding-bottom: 0.5rem;  добавим небольшой отступ снизу */
}
/* Text beside the image */ 
.name {
  position: absolute;
  top: 0.0rem;
  right: 0.0rem;
  font-size: 0.9rem;
  text-align: center;
  background-color: rgb(200,200,200); /* Цвет фона бейджа */
  color: #333333;
  padding: 0.3rem 0.3rem, 0.3rem, 03rem;
  border-radius: 6px; /* Скругление всех углов */ 
  /*margin-bottom: 0.5rem;*/
  /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);*/
  overflow: hidden; /* чтобы скругления работали корректно */
 
  min-width: 1.5rem;     /* не даст сжаться слишком сильно */
  max-width: 1.5rem;       /* можно ограничить, если имя длинное */
  
  display: inline-block; /* обеспечит адекватное поведение внутри flex-контейнера */

}