<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<div class="backdrop" (click)="onCancel()"></div>

<dialog open>
  <div class="video-container">

    <video #videoPlayer class="fullscreen-video" autoplay loop playsinline preload="auto">
      <source [src]="videoPath" type="video/mp4" />
      Your browser does not support the video tag.
    </video>


    <!-- ✅ Top-right Close button -->
    <!--<button class="close-control" (click)="onCancel()">
      <img src="assets/icons/close.png" alt="Close Video" width="24" height="24" />
    </button>-->
    <div class="custom-buttons">
      <button class="close-button" (click)="onCancel()">
        ❎ 
      </button>

      <button class="toggle-button" (click)="togglePlay()">
          {{ isPlaying ? '⏸️ ' : '▶️ ' }}
      </button>

      <button class="switch-button" (click)="onSwitchVideo()">
        🔄 
      </button>
    </div>
   
  </div>
</dialog>