<ng-template angular>
    @if (showInstallButton) {
    <div class="install-banner">
        <button class="install-button" (click)="installApp()">
          📲 Install NOMO
        </button>
      </div>
  }
</ng-template>
@if (isPortraitOnMobile) {
    <div class="orientation-overlay">
        {{rotateInstruction}}
    </div>
  }
<app-header (selectNewApp)="onSelectAppButton($event)"
            (newConfig) = "onUpdateNewConfig($event)"></app-header>
<main>
    <ul id="users">
        @for (b of buttons; track b.id) {
            <li>
                <app-button 
                    [user]="b"
                    [videoPath]="currentVideosPath"
                    [currentApp]="currentApp"
                    [isSubtextNeeded]="isSubTextNeeded"
                    [isAudioNeeded]="isAudioNeeded" 
                />
        }
    </ul>  
</main>    
