<!--<div *ngIf="showInstallButton" class="install-banner">
  <button class="install-button" (click)="installApp()">📲 Install NOMO</button>
</div>-->


@if (isPortraitOnMobile) {
    <div class="orientation-overlay">
        {{rotateInstruction}}
    </div>
  }

<!--@if (showAuthDialog) {-->
@if (true) {
  <div class="overlay">
    <div class="dialog">
      <app-auth (close)="onAuthDialogClosed()"></app-auth>
    </div>
  </div>
}
@else{
<div class="app-layout">

  <div class="top-bar">
    <app-header [appName]="currentConfig.selectedApp"
                [isShowDashboard]="isShowDashboard"></app-header>

    @if(isShowDashboard){
      <app-dashboard
        class="dashboard-top-right"
        (selectNewApp)="onSelectAppButton($event)"
        (newConfig)="onUpdateNewConfig($event)"
        (requestInstallApp)="installApp()">
      </app-dashboard>
    }
 </div>



    <main class="main-content">
      @if (currentConfig.selectedApp == '5') 
      {

        <app-sequence-chooser (isShowDashboard)="hideShowDashboard($event)"></app-sequence-chooser>
        
      }
      @else
      {
        <ul id="users">
          @for (b of buttons; track b.id) {
            <li>
              <app-button 
                [user]="b"
                [videoPath]="currentVideosPath"
                [currentApp]="currentConfig.selectedApp"
                [isSubtextNeeded]="isSubTextNeeded"
                [isAudioNeeded]="isAudioNeeded"  
              />
            </li>
          }
        </ul>  
      }
    </main>
  
</div>
}