<div *ngIf="showInstallButton" class="install-banner">
  <button class="install-button" (click)="installApp()">📲 Install NOMO</button>
</div>
@if (isPortraitOnMobile) {
    <div class="orientation-overlay">
        {{rotateInstruction}}
    </div>
  }
<app-header [appName]="currentApp"></app-header>


<div class="wrapper">
<main>
    <ul id="users">
        @for (b of buttons; track b.id) {
            <li>
                <app-button 
                    [user]="b"
                    [videoPath]="currentVideosPath"
                    [currentApp]="currentApp"
                    [isSubtextNeeded]="isSubTextNeeded"
                    [isAudioNeeded]="isAudioNeeded" 
                />
        }
    </ul>  
</main>  
</div>  
<app-dashboard class="dashboard-top-right"
               (selectNewApp)="onSelectAppButton($event)"></app-dashboard>
