
@if(currentSeqState === STATES.CHOOSER ){
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_1_1.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_1_2.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_1_3.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_1_4.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_1_5.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_1_pict.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_1_1.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_2_1.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_2_2.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_2_3.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_2_4.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_2_5.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_2_pict.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_3_1.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_3_2.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_3_3.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_3_4.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_3_5.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_3_pict.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_4_1.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_4_2.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_4_3.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_4_4.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_4_5.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_4_pict.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_5_1.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_5_2.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_5_3.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_5_4.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_5_5.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_5_pict.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_6_1.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_6_2.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_6_3.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_6_4.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_6_5.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_6_pict.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_7_1.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_7_2.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_7_3.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_7_4.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_7_5.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_7_pict.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_8_1.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_8_2.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_8_3.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_8_4.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_8_5.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_8_pict.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_9_1.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_9_2.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_9_3.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_9_4.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_9_5.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_9_pict.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_10_1.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_10_2.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_10_3.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_10_4.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_10_5.png" as="image" />
  <link rel="preload" href="assets\sequence-stuff\seq5\seq5_1\seq5_10_pict.png" as="image" />

  <div class="color-grid-container">
    <div class="color-grid">
      <div class="color-cell color-green" (click)="onCellClick(2)">2</div>
      <div class="color-cell color-red" (click)="onCellClick(3)">3</div>
      <div class="color-cell color-blue" (click)="onCellClick(4)">4</div>
      <div class="color-cell color-yellow" (click)="onCellClick(5)">5</div>
    </div>
    <img class="character-illustration" src="assets/sequence-stuff/girl.png" alt="Character" />
  </div>
}
@else if(currentSeqState === STATES.THUMBNAILS ){
  <div class="sequence-container">
    <ul id = "thumb-list">
      @for (path of pathsArray; track path) {
        <li>
          <app-sequence-thumb
            [thumbPath]="path"
            (thumbClicked)="onThumbSelected($event)" />
        </li>
      }
    </ul>
  </div>
}
@else if(currentSeqState === STATES.SEQUENCE ){
  <app-sequence [numSegments]="numSegments"
                [thumbPath]="chosenThumbPath"
                (goBackClicked) = "onGoBackClicked()"
                (showVideoClicked) = "onShowVideoClicked($event)"></app-sequence>
}

@else if(currentSeqState === STATES.VIDEO ){
  <div class="video-container">
    <button class="close-button" (click)="onGoBackClicked()">✖</button>
    <video [src]="videoPath" controls controlsList="nodownload" autoplay></video>
  </div>
}