<h4 mat-dialog-title>Application Settings</h4>

<div mat-dialog-content style class="language-options">
  <mat-form-field appearance="fill">
    <mat-label>Language</mat-label>
    <mat-select [(value)]="selectedLang">
      @for (lang of languages; track lang.code) {
        <mat-option [value]="lang.code">{{ lang.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-checkbox [(ngModel)]="needSubtext">Show Subtext</mat-checkbox>
  <mat-checkbox [(ngModel)]="needAudio">Enable Audio</mat-checkbox>

</div>

<div mat-dialog-actions align="center">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-flat-button color="primary" (click)="save()">Save</button>
</div>
